[submodule "thirdparty/psd_sdk"]
	path = thirdparty/psd_sdk
	url = https://github.com/MolecularMatters/psd_sdk.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
